@import url(//db.onlinewebfonts.com/c/a6bec1c4ef2d2fd1bac5a6951f5f32a3?family=American+Captain);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*////////////////// NEW CSS //////////////////////*/

*, label, ul, p {
    font-family: "American Captain", sans-serif;
}

body {
    background-color: #1b1823;
}

header {
    background-image: url('./assets/bg-1.png');
    padding: 16px;
    position: relative;
}

.header-border-top {
    width: 50px;
    height: 50px;

    position: absolute;
    z-index: 1;
    right: 16px;

    border: 20px solid transparent;
    border-right: 12px solid #00ff00;
    border-top: 12px solid #00ff00;
    transition: all;

    animation: changeBorderTop infinite 12s;
}

.header-border-bottom {
    width: 50px;
    height: 50px;

    position: absolute;
    z-index: 1;
    left: 16px;
    bottom: 16px;

    border: 20px solid transparent;
    border-left: 12px solid #b400ff;
    border-bottom: 12px solid #b400ff;
    transition: all;

    animation: changeBorderBottom infinite 12s;
}

.header-info {

    display: flex;
    padding: 25px 60px;
    justify-content: space-between;

    position: relative;
    z-index: 2;
    

    img {
        height: 60px;
    }
}

.header-img {

    padding: 0 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;

    img {
        height: fit-content;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;

    ul {
        display: flex;
        gap: 100px;
    
        font-size: 1.8rem;
        font-family: 'Gamerock Personal Use', sans-serif;
        color: white;
    }
    
    li:hover{
        color: #19cc19;
        cursor: pointer;
    }
}

.search {
    border: 2px solid #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;

    margin: 5px 0;
    padding: 6px 12px;
}

.search-input {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    font-size: 1rem;
}

.search-input :focus {
    border: none;
    color: rgb(255, 255, 255);
}

.search-input::placeholder {
    color: rgba(255, 255, 255, 0.742);
}

.search-icon {
    width: 25px;
    height: 25px;
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #00ff00;
}

.search-icon i {
    color: white;
}

.divider {
   width: 80%;
   color: white;
   border-bottom: 2px solid; 
   margin-bottom: 4px;
}

.products-section {
    background: rgba(0,0,0,0.5);
    background-image: url('./assets/bg-3.jpg');
    padding: 26px;

    h2 {
        white-space:nowrap;
        color: #e52222;
        font-size: 26px;
        margin-right: 8px;
    }

    .content {
        display: flex;
        justify-content: space-around;
        padding: 25px 0;


    
        #carouselPanel {

            width: 50vw;
            overflow: hidden;
            position: relative;
            display: flex;
            padding-bottom: 70px;  

            .carousel-item {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transition: all 1s; 

                // animation: carrousel 20s infinite;
    
                p {
                    color: white;
                    font-size: 2rem;
                }
            }

            #carouselNav{
                position: absolute;
                bottom: 20px;
                right: 50%;
                transform: translateX(50%);
                display: flex;
                margin-top: 50px;

                gap: 20px;

                input[type="radio"] {
                    width: 0;
                    opacity: 0;
                    position: fixed;

                }

                .pointer {
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: #00ff00;
                    cursor: pointer;
                    transition: all 0.3s;
                }

                input[type="radio"]:checked + .pointer {
                    transform: scale(2);
                }
            }
        }
    }


}

.news-section {
    background-image: url('./assets/bg-2.jpg');
    display: flex;
    align-items: center;
    padding: 50px 0;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        object-fit: cover;
        width: 100%;
    }

    button {
        background-color: #1b1823;
        font-size: 3rem;
        border: 1px solid #fff;
        color: white;
        padding: 14px;
        cursor: pointer;
    }
}

footer {
    
    padding: 100px 50px 25px;

    background-image: url('./assets/bg-footer.png');

    .footer-info {

        display: flex;
        justify-content: space-around;

        ul {
            // margin-right: 50px;
    
            li {
                color: white;
                font-size: 1.2rem;
                cursor: pointer;
            }
        }    
    
        li:hover {
            color: #c4c4c4;
        }
    
        div > label {
            color: yellow;
            font-size: 2.8rem;
        }

        .payment {
            display: flex;
            flex-direction: column;
        }
    }
    
    .footer-copyright {

        display: flex;
        justify-content: space-around;
        margin-top: 80px;

        img {
            height: 60px;
        }

        p {
            color: white;
        }

        .social-media{

            display: flex;
            gap: 25px;

            div {

                display: flex;
                align-items: center;
                justify-content: center;

                height: 50px;
                width: 50px;
                border-radius: 50%;
                background-color: #00ff00;

                i {
                    color: #190035;
                    font-size: 2rem;
                }
            }        
        } 
    }
}

// Animations

@keyframes changeBorderTop {
    0% {
        width: 40vw;
        height: 75%;
    }

    25% {
        width: 40vw;
        height: 75%;
    }

    50% {
        width: 80vw;
        height: 55%;
    }

    75% {
        width: 80vw;
        height: 55%;
    }

    100% {
        width: 40vw;
        height: 75%;
    }
}

@keyframes changeBorderBottom {
    0% {
        width: 20vw;
        height: 45%;
    }

    25% {
        width: 20vw;
        height: 45%;
    }

    50% {
        width: 40vw;
        height: 20%;
    }

    75% {
        width: 40vw;
        height: 20%;
    }

    100% {
        width: 20vw;
        height: 45%;
    }
}

@keyframes carrousel {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-315px);
    }

    50% {
        transform: translateX(-630px);
    }

    75% {
        transform: translateX(-945px);
    }

    100% {
        transform: translateX(0);
    }
}